In [1]:
import pandas as pd
import csv
import re
import numpy as np
import plotly.express as px
from plotly.offline import init_notebook_mode

from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [6]:
df = pd.read_csv('external_dataset_cleaned.csv')
df.head(20)

    Unnamed: 0                                               text        Time
0            0                                              Gahan  16/03/2020
1            1  advice Talk neighbours family exchange phone n...  16/03/2020
2            2  Coronavirus Australia Woolworths give elderly ...  16/03/2020
3            3  My food stock one empty ... PLEASE , ' panic ,...  16/03/2020
4            4  Me , ready go supermarket #COVID19 outbreak. N...  16/03/2020
5            5  As news region first confirmed COVID 19 case c...  16/03/2020
6            6  Cashier grocery store sharing insights #Covid ...  16/03/2020
7            7  Was supermarket today. Didn ' buy toilet paper...  16/03/2020
8            8  Due COVID 19 retail store classroom Atlanta op...  16/03/2020
9            9  For corona prevention , stop buy things cash u...  16/03/2020
10          10  All month ' crowding supermarkets restaurants ...  16/03/2020
11          11  Due Covid 19 situation , increased demand food...  16/03/2020
12          12  #horningsea caring community. Let ALL look les...  16/03/2020
13          13  Me I ' need stock food , I ' Amazon deliver wh...  16/03/2020
14          14  ADARA Releases COVID 19 Resource Center Travel...  16/03/2020
15          15  Lines grocery store unpredictable , eating saf...  16/03/2020
16          16                                           # # 13 #  16/03/2020
17          17  16MAR20 Russia consumer surveillance watchdog ...  16/03/2020
18          18  Amazon Glitch Stymies Whole Foods , Fresh Groc...  16/03/2020
19          19  For ' struggling , please consider donating fo...  16/03/2020

In [3]:
analyser = SentimentIntensityAnalyzer()

In [19]:
df['text']=df['text'].astype(str)

In [22]:
def get_sentiment_label(score):
    if score < 0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'

In [23]:
def get_vaderCompoundPolarity(text):
    return analyser.polarity_scores(text)['compound']
    
df['vader_compound'] = df['text'].apply(get_vaderCompoundPolarity)
df

,Unnamed: 0,text,Time,vader_compound
0,0,Gahan,16/03/2020,0.0000
1,1,advice Talk neighbours family exchange phone n...,16/03/2020,0.4588
2,2,Coronavirus Australia Woolworths give elderly ...,16/03/2020,0.4588
3,3,"My food stock one empty ... PLEASE , ' panic ,...",16/03/2020,0.4824
4,4,"Me , ready go supermarket #COVID19 outbreak. N...",16/03/2020,-0.2168
...,...,...,...,...
41152,41152,Airline pilots offering stock supermarket shel...,14/04/2020,0.0000
41153,41153,Response complaint provided citing COVID 19 re...,14/04/2020,-0.6369
41154,41154,You know getting tough rationing toilet paper ...,14/04/2020,0.4184
41155,41155,Is wrong smell hand sanitizer starting turn #c...,14/04/2020,0.0258
41156,41156,Well new used Rift S going 700.00 Amazon rn al...,14/04/2020,-0.4576

In [24]:
df['VADERsentiment'] = df['vader_compound'].apply(get_sentiment_label)
df

,Unnamed: 0,text,Time,vader_compound,VADERsentiment
0,0,Gahan,16/03/2020,0.0000,Neutral
1,1,advice Talk neighbours family exchange phone n...,16/03/2020,0.4588,Positive
2,2,Coronavirus Australia Woolworths give elderly ...,16/03/2020,0.4588,Positive
3,3,"My food stock one empty ... PLEASE , ' panic ,...",16/03/2020,0.4824,Positive
4,4,"Me , ready go supermarket #COVID19 outbreak. N...",16/03/2020,-0.2168,Negative
...,...,...,...,...,...
41152,41152,Airline pilots offering stock supermarket shel...,14/04/2020,0.0000,Neutral
41153,41153,Response complaint provided citing COVID 19 re...,14/04/2020,-0.6369,Negative
41154,41154,You know getting tough rationing toilet paper ...,14/04/2020,0.4184,Positive
41155,41155,Is wrong smell hand sanitizer starting turn #c...,14/04/2020,0.0258,Positive
41156,41156,Well new used Rift S going 700.00 Amazon rn al...,14/04/2020,-0.4576,Negative

In [25]:
df['VADERsentiment'].value_counts()

Positive    18940
Negative    15368
Neutral      6849
Name: VADERsentiment, dtype: int64

In [30]:
fig = px.scatter(df, x="polarity", y="vader_compound", hover_data=['text'],
                 title="TextBlob vs VADER")
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Unnamed: 0', 'text', 'Time', 'vader_compound', 'VADERsentiment'] but received: polarity