In [1]:
import tweepy
import csv
import re
import pandas as pd
from flashtext import KeywordProcessor

import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from wordcloud import WordCloud
import nltk 
from nltk.tokenize.toktok import ToktokTokenizer
tokenizer = ToktokTokenizer()
from nltk.corpus import stopwords
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /home/nust61/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [19]:
df = pd.read_csv('Corona_tweets.csv')
df

,Unnamed: 0,Time,Location,text
0,1,16/03/2020,London,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...
1,2,16/03/2020,UK,advice Talk to your neighbours family to excha...
2,3,16/03/2020,Vagabonds,Coronavirus Australia: Woolworths to give elde...
3,4,16/03/2020,NaN,My food stock is not the only one which is emp...
4,5,16/03/2020,NaN,"Me, ready to go at supermarket during the #COV..."
...,...,...,...,...
41152,41153,14/04/2020,"Wellington City, New Zealand",Airline pilots offering to stock supermarket s...
41153,41154,14/04/2020,NaN,Response to complaint not provided citing COVI...
41154,41155,14/04/2020,NaN,You know itÂ’s getting tough when @KameronWild...
41155,41156,14/04/2020,NaN,Is it wrong that the smell of hand sanitizer i...
41156,41157,14/04/2020,i love you so much || he/him,@TartiiCat Well new/used Rift S are going for ...

In [20]:
df.dropna()

,Unnamed: 0,Time,Location,text
0,1,16/03/2020,London,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...
1,2,16/03/2020,UK,advice Talk to your neighbours family to excha...
2,3,16/03/2020,Vagabonds,Coronavirus Australia: Woolworths to give elde...
5,6,16/03/2020,"ÃœT: 36.319708,-82.363649",As news of the regionÂ’s first confirmed COVID...
6,7,16/03/2020,"35.926541,-78.753267",Cashier at grocery store was sharing his insig...
...,...,...,...,...
41147,41148,14/04/2020,"Brooklyn, NY",YÂ’all really shitting that much more at home?...
41149,41150,14/04/2020,"Toronto, Ontario",Still shocked by the number of #Toronto superm...
41150,41151,14/04/2020,OHIO,I never that weÂ’d be in a situation &amp; wor...
41152,41153,14/04/2020,"Wellington City, New Zealand",Airline pilots offering to stock supermarket s...
41156,41157,14/04/2020,i love you so much || he/him,@TartiiCat Well new/used Rift S are going for ...

In [24]:
df.columns

Index(['Unnamed: 0', 'Time', 'Location', 'text'], dtype='object')

In [46]:
df1 = df.filter(['text','Time'])

In [47]:
df1

                                                    text        Time
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...  16/03/2020
1      advice Talk to your neighbours family to excha...  16/03/2020
2      Coronavirus Australia: Woolworths to give elde...  16/03/2020
3      My food stock is not the only one which is emp...  16/03/2020
4      Me, ready to go at supermarket during the #COV...  16/03/2020
...                                                  ...         ...
41152  Airline pilots offering to stock supermarket s...  14/04/2020
41153  Response to complaint not provided citing COVI...  14/04/2020
41154  You know itÂ’s getting tough when @KameronWild...  14/04/2020
41155  Is it wrong that the smell of hand sanitizer i...  14/04/2020
41156  @TartiiCat Well new/used Rift S are going for ...  14/04/2020

[41157 rows x 2 columns]

In [48]:
df1.to_csv('external_dataset_cleaned.csv')